apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "axiom-ui.fullname" . }}
  labels: 
    {{- include "axiom-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "axiom-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "axiom-ui.selectorLabels" . | nindent 8}}
    spec:
      restartPolicy: Always
      serviceAccountName: {{ include "axiom-ui.fullname" . }}-sa
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          {{- range $key, $value := .Values.env }}
          - name: {{ $key }}
            value: "{{ $value }}"
          {{- end}}
        ports:
        - containerPort: {{ .Values.service.port }}
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
