name: Backend E2E Tests

on:
  pull_request:
    paths:
      - 'backend/**'

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    env:
      TEST_MONGO_URI: 'mongodb://localhost:27017'
      DB_NAME: axiom
      
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: backend/go.mod

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: '8.0.0'

      - name: populate db
        run: |
          go run hack/populate_db.go

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
