name: Operator Post-Merge
on:
  push:
    branches:
      - main
    paths:
      - 'operator/**'

env:
  REGISTRY: ghcr.io
  # Image: ghcr.io/dana-team/axiom/operator
  IMAGE_NAME: dana-team/axiom/operator
  # Chart: ghcr.io/dana-team/helm-charts/axiom/operator
  CHART_REGISTRY: ghcr.io/dana-team/helm-charts/axiom/operator

jobs:
  build-and-push-image:
    name: Build and push image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: operator
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image
        run: make docker-build docker-push IMG=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main

  package-and-push-chart:
    name: Package and Push Helm Chart
    runs-on: ubuntu-latest
    needs: build-and-push-image
    permissions:
      contents: read
      packages: write
      id-token: write
    defaults:
      run:
        working-directory: operator

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.0

      - name: Helm lint
        run: helm lint charts/axiom-operator

      - name: Helm package
        run: |
          # Use 0.0.0-main as version for bleeding edge
          helm package charts/axiom-operator \
            --version 0.0.0-main \
            --app-version 0.0.0-main

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Helm push
        run: |
          # The chart package will be named axiom-operator-<version>.tgz
          PKG_NAME=axiom-operator-0.0.0-main.tgz
          helm push ${PKG_NAME} oci://${{ env.CHART_REGISTRY }}
        env:
          HELM_REGISTRY_CONFIG: ~/.docker/config.json
