name: Operator Tests
on:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]
    paths:
      - 'operator/**'

jobs:
  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operator
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: operator/go.mod

      - name: Run unit-tests
        run: make test
